<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Articles</title>
</head>
<body>
<div>
    <h1>Creating Article page</h1>
    <p>Full Line Code Completion is a built-in plugin that enhances code completion with inline suggestions. The plugin uses only local LLMs and does not send any of your data over the internet.

        Full Line Code Completion offers an LLM for HTML. Would you like to download this model?</p>
    <button>Create Article</button>
</div>
</body>
</html>